.locationPickerContainer {
  width: 600px;
  height: 500px;
  min-height: 600px;
  min-width: 500px;
}

.fieldWrapper {
  padding: 10px;
}

.fieldContainer {
  width: 100%;
  display: flex;
}

.textField {
  width: 90%;
}
