@import '../../styles/colors';
@import '../../styles/app.global.scss';
@import '../../styles/fonts';
@import '../../styles/breakpoints';

.root {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  @include md {
    flex-direction: row;
  }
}

.perfilContainer {
  width: 100%;
  position: relative;
  @include md {
    width: 30%;
  }
}
.svgContainer {
  width: 100%;
  position: relative;
}

.mainBtns {
  margin-right: 15px;
}

.dataContainer {
  width: 100%;
  position: relative;
  @include md {
    width: 70%;
  }
}

.tooltip {
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: fit-content;
  max-width: 200px;
  font-family: $fontLato;
  box-shadow: 0 3px 10px rgba(66, 66, 66, 0.384);
  color: $darkText;
  background: white;
  border-radius: 5px;
  padding: 10px;
  .title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $fontSourcePro;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: $colorPrimaryDark;
    margin-bottom: 5px;
  }
  .primaryInfo {
    font-size: 14px;
    font-weight: 600;
  }
  .secondaryInfo {
    font-size: 12px;
    strong {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.componentContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.componentTitle {
  font-size: 14px;
  font-family: $fontLato;
  font-weight: 600;
}

.collapseBtn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: flex-start;

  font-family: $fontSourcePro;
  font-size: 18px;

  &:hover {
    color: rgb(110, 110, 110);
  }
}

.sortableList {
  margin-left: 10px;
  li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }
}

.radioEA {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  // :global {
  //   .MuiFormControlLabel-root {
  //     color: red;
  //   }
  // }
}

.btnAdd {
  color: $colorPrimary;
  :global {
    .MuiListItemIcon-root {
      color: $colorPrimary;
    }
  }
}

.noFilesMsg {
  @extend %emptyListSpan;
  height: auto;
}

.layerRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 300px;
}

.layerInput {
  margin: 5px;
  margin-right: 10px;
  min-width: 100px;
}
.colorInput {
  display: flex;
  align-items: center;
}

.colorBtn {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.colorPicker {
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.inputContainers {
  height: 900px;
  overflow-y: auto;
}
